// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Prompt', sans-serif;
// font-family: 'Sacramento', cursive;
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6vw 0;
    background-color: #edf2f8;
    // background-color: #313bac;
}

h1 , h2 , h3 {
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
}

.skill-bar {
    text-transform: uppercase;
    font-weight: 700;
    width: 90%;
    border-radius: 0.6rem;
    // background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 2rem 0;
    font-family: 'Prompt', sans-serif;
    flex-wrap: wrap;



    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0.8rem;
        background-color: #fff;
        border-radius: 0.6rem;
        color: #313bac ;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;

        img {
            width: 25px;
            height: 25px;
            padding: 0 0.2rem;
        }
    }

    @media screen and (max-width: 500px) {
        width: 95%;
        div {
            padding: 0.9rem 0.4rem;
            font-size: 0.7rem;

            img {
                width: 15px;
                height: 15px;
                padding: 0 0.1rem;
            }
        }
    }
}

.tech-bar {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;

    .techdiv {
        padding: 0.7rem;
        p {
            text-align: center;
            font-family: 'Merriweather', serif;
        }
    }
}

.img-wrap {
    width: 75px;
    height: 75px;
    background-color: #f6f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 8px 8px -4px lightblue;
    padding: 0.6rem;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    @media screen and (max-width: 500px) {
        width: 45px;
        height: 45px;
        img {
            width: 40px;
            height: 40px;
        }
    }
}

.togglebtn {
    color: #313bac;
    text-decoration: underline;
    cursor: pointer;
}


.allexp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}