// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Prompt', sans-serif;
// font-family: 'Sacramento', cursive;
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2f8;
    padding: 4vw 0;
}
.about-img-div {
    background-color:#fefcfc;
    box-shadow: 0 15px 20px -4px rgba(0, 0, 0, 0.2);
    // padding: 4rem 2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    // border: 2px solid red;
    display: flex;
    justify-content: flex-start;
    border-radius: 80px 80px 5px 80px;
    align-items: center;
    width: 85vw;
    min-height: 55vh;
    padding: 1rem;

    img {
        width: 350px;
        height: auto;
        border-radius: 50px 15px 15px 50px;
        // padding: 1rem 2rem;
        margin: 0 2% 0 5%;
    }

    @media screen and (max-width: 1200px) {
        width: 93vw;
    }

    @media screen and (max-width: 700px){
        width: 90vw;
        img {
            width: 300px;
        }
    }

    @media screen and (max-width: 600px) {
        padding: 3rem 0 2rem 0;
        flex-direction: column;
        img {
            width: 70%;
            border-radius: 50px 50px 5px 50px;
        }
    }
}

.about-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }
    p {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Prompt', sans-serif;
    }

    a {
        font-family:  sans-serif;
        text-decoration: none;
        padding: 1.2rem;
        width: 140px;
        // border: 2px solid red;
        border: 1px solid rgba(220, 220, 220, 0.363);
        border-radius: 25px;
        margin-top: 20px;
        color: #030303;
        background-color: #f6f9ff;
        box-shadow: 0 8px 8px -4px lightblue;
        transition: ease-in-out 0.3;

        &:hover {
            font-weight: 500;
            color: #fff;
            background-color: #417dfe;
            box-shadow: 0 8px 8px -4px rgb(147, 210, 231);
        }
    }

    @media screen and (max-width: 1200px) {
        width: 55%;
        h2 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 600px) {
        width: 70%;


        h2 {
            margin: 0.5rem 0 0.1rem 0;
        }
        a {
            margin-top: 2px;
        }
    }
}
