#home {
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-para {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2px solid black;
    position: relative;
    bottom: -90px;

    div {
        // border: 2px solid red;
        border-radius: 15px;
        padding: 14px;
        text-align: center;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

        h1 {
            margin: 0.5rem;
        }
        p {
            margin: 0.5rem;
        }
    }

    @media screen and (max-width: 1000px) {
        bottom: -30px;

        p {
            font-size: 0.7rem;
        }
        h1 {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 450px) {
        p {
            font-size: 0.8rem;
        }
        h1 {
            font-size: 1.1rem;
        }
    }
}

.home-img {
    position: relative;
    z-index: -1;
    top: -20px ;
    width: 100%;
    background-color: #fff;
    // border: 2px solid blue;
    img {
        background: #fff;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        object-fit: contain;

    }
    @media screen and (max-width: 700px) {
        img {
            width: 150%;
            height: auto;
            transform: translateX(-17%);
        }
        overflow: hidden;
    }

    @media screen and (max-width: 600px) {
        img {
            width: 200%;
            height: auto;
            transform: translateX(-25%);
        }
    }
}

.home-icons {
    display: flex;
    flex-direction: row;
    // border: 2px solid rebeccapurple;
    justify-content: space-around;
    position: relative;
    z-index: -1;
    top: -40px;
    @media screen and (max-width: 650px) {
        top: -10px;
    }
}

.home-icon-wrap {
    // border: 1px solid green;
    display: flex;
    justify-content: space-evenly;

    div {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        // background-color: #EEEEEE;
        box-shadow: 0 8px 8px -4px lightblue;
        background-color: #f6f9ff;

        @media screen and (max-width: 650px) {
            height: 50px;
            width: 50px;
            margin: 0.5rem;
        }
    }
    img {
        height: 34px;
        width: 34px;

        @media screen and (max-width: 650px) {
            height: 20px;
            width: 20px;
        }
    }
}

#logo1 {
    position: relative;
    top: -60px;
    height: 95px;
    width: 95px;

    img {
        height: 60px;
        width: 60px;
    }

    @media screen and (max-width: 650px) {
        height: 70px;
        width: 70px;
        img {
            height: 40px;
            width: 40px;
        }
    }
}

#logo4 {
    position: relative;
    top: -40px;
    height: 90px;
    width: 90px;

    img {
        height: 60px;
        width: 60px;
    }

    @media screen and (max-width: 650px) {
        height: 75px;
        width: 75px;
        img {
            height: 43px;
            width: 43px;
        }
    }
}