// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Sacramento', cursive;
// font-family: 'Prompt', sans-serif
#navbar {
    width: 91%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(255,255,255,0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgb(255,255,255,0.18);

    padding: 0.5rem 1rem;
}

.navbar-logo {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

    img {
        width: 30px;
        height: 30px;
    }
    #reverse-img {
        transform: rotateY(180deg);
    }
}

.navbar-ul {
    flex: 1;
    display: flex;
    // border: 2px solid blue;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: 'Prompt', sans-serif;

    a {
        text-decoration: none;
        
        color: #6b7688;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        li {
            margin-right: 2rem;
            list-style-type: none;
            text-transform: capitalize;
            font-size: 800;
        }

        &:hover {
            color: #313bac ;
        }
    }
    @media screen and (max-width: 700px)  {
        display: none;
    }
    // border: 2px solid black;
}

.navbar-mob {
    font-family: 'Prompt', sans-serif;
    position: relative;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    background-color: #313bac;
    svg {
        width: 70%;
        height: 70%;
        color: #fff;
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        // background: url('../../assets/bgWhite.png');
        background-color: #fff;
        background-size: cover;

        box-shadow: 0 0 20px rgba(168,168,168,0.15) ;

        svg {
            width: 35px;
            height: 35px;
            color: #313bac;
            margin: 0.3rem 1.9rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column ;

            li {
                margin: 1rem;

                a {
                    color: var(--grey-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #313bac;
                    }

                }

            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 700px) {
        display: none;
    }
}