// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Prompt', sans-serif;
// font-family: 'Sacramento', cursive;
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    h1 {
        font-family: 'Merriweather', serif ;
        text-align: center;
    }
    p {
        font-family: 'Prompt', sans-serif;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        font-weight: 600;
    }
    @media screen and (max-width: 470px) {
        h1 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
}

.contact-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

   

    img {
        width: 40px;
        height: 40px;
        margin-right: 0.3rem;
    }
    a {
        margin: 0.5rem 0;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem 0.6rem;
        border-radius: 1rem;
        border: 5px solid #fff;
        background-color: #f6f9ff;
        box-shadow: 0 8px 8px -4px lightblue;
        font-family: 'Montserrat', sans-serif;
        color: blue;

        &:hover {
            background-color: rgb(194, 255, 204);
        }
    }

}